.wordle-board{
    padding: 10px;
    margin-top: 110px;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 0);
    outline: 1px solid rgb(255, 255, 0);
    border-radius: 5px;
}

.wordle-row{
    /* outline: 1px solid rgb(0, 255, 242); */
}

.wordle-current-row > .wordle-cell{
    outline: 1px solid rgb(255, 0, 255);
    box-shadow: 0px 0px 10px 0px rgb(255, 0, 255);
}

.wordle-current-row > .wordle-cell:hover{
    box-shadow: 0px 0px 20px 0px rgb(255, 0, 255);
    outline: 1px solid rgb(255, 0, 255);
}

.wordle-current-row > .wordle-cell.is-selected{
    outline: 1px solid rgb(0, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(0, 255, 255);
}

.wordle-current-row > .wordle-cell.is-selected:hover{
    box-shadow: 0px 0px 20px 0px rgb(0, 255, 255);
    outline: 1px solid rgb(0, 255, 255);
}

.wordle-cell{
    margin: 10px;
    display: inline-block;
    outline: 1px solid rgb(85, 0, 85);
    box-shadow: 0px 0px 10px 0px rgb(85, 0, 85);
    width: 8vh;
    height: 8vh;
    border-radius: 3px;
    transition: 0.5s;
}

.wordle-cell:hover{
    box-shadow: 0px 0px 20px 0px rgb(100, 0, 100);
    outline: 1px solid rgb(85, 0, 85);
}